body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.scoreboard{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.player{
    font-size: 20px;
}

.board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap:5px;
}

.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover{
    background-color: #e9e9e9;
}

button{
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}